# Python files
**/__pycache__/
__pycache__/
__pycache__/*
*.py[cod]

# Mac files
.DS_Store

# IDE files
.idea/*

# The storage of the files to parse on my computer -Calvin
rsrc/*

# Index file on disk
data.json