<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>CLAM Search Engine</title>
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static' , filename = 'css/style.css') }}">
</head>
<body>
    <!-- Container for search and title -->
    <div class = "search-container">
        <!-- Title -->
        <h1 class = "title">Welcome to CLAM</h1>
        <!-- HTML form to send POST request when submitted -->
        <form method = "post" action ="/">
            <!-- Input field for the search query -->
            <input type = "text" name = "query" placeholder = "Enter Query" value = "{{ query }}" required>
            <!-- Button to submit search -->
            <button type = "submit">Search</button>
        </form>
    </div>

    <!-- Check if query was submitted -->
    {% if query %}
        <!-- Display Results if they exist -->
        {% if results %}
            <h2>Top Results for '{{ query }}'</h2>
            <p class = "caption">Found {{ results|length }} results in {{ exec_time }} ms</p>
            <!-- Loop through each result -->
            {% for result in results %}
            <!-- Container for each result -->
            <div class = "result-box">
                <!-- Result number -->
                <div class = "result-index">{{ loop.index }}</div>
                <!-- Result Details -->
                <div class = "result-details">
                    <!-- Display the details of URL -->
                    <div class = "result-url">
                        <a href = "{{ result[0] }}" target = "_blank">{{ result[0] }}</a>
                    </div>
                    <!-- Display relevancy score -->
                    <div class = "result-score">Relevance Score: {{ "%.2f"|format(result[1]) }}</div>
                </div>
            </div>
        {% endfor %}
    <!-- No results -->
    {% else %}
        <p class = "no-results">No results found for query</p>
    {% endif %}
{% endif %}
</body>
</html>